{{- $context := . }}

// Configuration
@import "../../scss/bootstrap/functions";

// Variables
{{ range resources.Match "hb/modules/*/scss/variables.tmpl.scss" }}
  {{- $vars := . | resources.ExecuteAsTemplate . $context }}
  {{- $vars.Content }}
{{ end }}
@import "variables";
@import "../../scss/bootstrap/variables";
@import "../../scss/bootstrap/variables-dark";

@import "../../scss/bootstrap/maps";
@import "../../scss/bootstrap/mixins";
@import "../../scss/bootstrap/utilities";

// Layout & components
@import "../../scss/bootstrap/root";
@import "../../scss/bootstrap/reboot";
@import "../../scss/bootstrap/type";
@import "../../scss/bootstrap/images";
@import "../../scss/bootstrap/containers";
@import "../../scss/bootstrap/grid";
@import "../../scss/bootstrap/tables";
@import "../../scss/bootstrap/forms";
@import "../../scss/bootstrap/buttons";
@import "../../scss/bootstrap/transitions";
@import "../../scss/bootstrap/dropdown";
@import "../../scss/bootstrap/button-group";
@import "../../scss/bootstrap/nav";
@import "../../scss/bootstrap/navbar";
@import "../../scss/bootstrap/card";
@import "../../scss/bootstrap/accordion";
@import "../../scss/bootstrap/breadcrumb";
@import "../../scss/bootstrap/pagination";
@import "../../scss/bootstrap/badge";
@import "../../scss/bootstrap/alert";
@import "../../scss/bootstrap/progress";
@import "../../scss/bootstrap/list-group";
@import "../../scss/bootstrap/close";
@import "../../scss/bootstrap/toasts";
@import "../../scss/bootstrap/modal";
@import "../../scss/bootstrap/tooltip";
@import "../../scss/bootstrap/popover";
@import "../../scss/bootstrap/carousel";
@import "../../scss/bootstrap/spinners";
@import "../../scss/bootstrap/offcanvas";
@import "../../scss/bootstrap/placeholders";
@import "components";

// Helpers
@import "../../scss/bootstrap/helpers";

// Utilities
@import "../../scss/bootstrap/utilities/api";

// Modules
{{- range resources.Match "hb/modules/*/scss/index.scss" }}
@import "{{ replace . "hb/modules" "../modules" }}";
{{- end }}